@tailwind base;
@tailwind components;
@tailwind utilities;


/* Scrollbar Styling */

.cart-sidebar {

    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar
    {
        width: 5px;
        transform: translate(-10px, 0px);
    }

    &::-webkit-scrollbar-track
    {
        box-shadow: inset 0 0 5px grey;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb
    {
        background: gray;
        border-radius: 0;
    }
}

.product-images {
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar
    {
        width: 5px;
        transform: translate(-10px, 0px);
    }

    &::-webkit-scrollbar-track
    {
        box-shadow: inset 0 0 5px grey;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb
    {
        background: gray;
        border-radius: 0;
    }
}